<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="trenRezervasyonApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tren Rezervasyon</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="scripts/angular.js"></script>
    <script src="scripts/trenRezervasyon.js"></script>
</head>
<body ng-controller="TrenRezervasyonCtrl">
    <div class="container">
        <form class="form-rezervasyon" role="form">
            <h2 class="form-rezervasyon-heading">Tren Rezervasyonunuzu Hemen Yapın!</h2>
            <select ng-model="RezervasyonKapsam.istek.tren" class="form-control">
                <option value="" disabled selected>Tren Seçiniz</option>
                <option ng-repeat="tren in RezervasyonKapsam.trenler" value="{{tren.Ad}}">{{tren.Ad}}</option>
            </select>
            <select ng-model="RezervasyonKapsam.istek.kisiSayisi" class="form-control">
                <option value="" disabled selected>Kişi Sayısı Seçiniz</option>
                <option ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="rezervasyonYap();">Rezervasyon Yap</button>
        </form>
        <div ng-show="RezervasyonKapsam.rezervasyonCevabiAlindi && RezervasyonKapsam.rezervasyonBasarili" class="alert alert-success">
            Rezervasyon Başarılı... Vagon No: {{RezervasyonKapsam.rezYapilanVagonNo}} - Kişi Sayısı: {{RezervasyonKapsam.rezYapilanKisiSayisi}}
        </div>
        <div ng-show="RezervasyonKapsam.rezervasyonCevabiAlindi && !RezervasyonKapsam.rezervasyonBasarili" class="alert alert-danger">
            Rezervasyon Başarısız...
        </div>
    </div>
</body>
</html>